
<div class="container">
  <div class="span6 offset3">
  	<h2>To-do Shredder</h2>
    <%= form_for(:session, url: sessions_path) do |f| %>

	<div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email %>
	</div>
	<div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password %>
	</div>
      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>
	<br />
    <p>Register for To-Do shredder <%= link_to "now!", signup_path %></p>
  </div>
</div>

