<div class="container">
	<h1><span class="glyphicon glyphicon-list-alt"></span> Pending Tasks</h1>
	
	<div class="table-responsive"> 
		<table class="table">
		  <tr>
		    <th>Name</th>
		    <th>Notes</th>
		    <th>Alive since</th>
		    <th>Action</th>
		  </tr>
		
		<% if @hours < 2 %>
			<p>Display hours</p>
		<% end %>
		
		<% @tasks.each do |task| %>
		  <tr id="task_row_<%= task.id %>">
		    <td><%= task.name %></td>
		    <td><%= task.notes %></td>
		    <td><%= task.updated_at %></td>
		    <td>
		    	<div class="btn-toolbar">
	  				<div class="btn-group">
			    	<%= link_to edit_task_path(task) do %>
						<span class="btn btn-default glyphicon glyphicon-edit tooltips" data-container="body" data-placement="bottom" data-title="Edit Task" > </span>
					<% end %>
					<%= link_to task, method: :delete,  data: { confirm: 'Are you sure?' }, :remote=>true do %>
						<span class="btn btn-default glyphicon glyphicon-remove-sign tooltips" data-container="body" data-placement="bottom" data-title="Delete Task" > </span>
					<% end %>
					<%= link_to task do %>
						<bspan class="btn btn-default glyphicon glyphicon-search tooltips" data-container="body" data-placement="bottom" data-title="View Task" /></span>
					<% end %>
					</div>
				</div>
		   </td>
		  </tr>
		<% end %>
		</table>
	</div>
	
	<br />
	
	<div class="row">
	  <div class="col-md-9">&nbsp;</div>
	  <div class="col-md-3">
	  	<%= link_to new_task_path do %>
			<button class="btn btn-default btn-lg"><span class="glyphicon glyphicon-plus-sign"></span>   Write another to-do</button>
		<% end %>
		</div>
	</div>
</div>

	<%= link_to 'Destroy', active_task_path(@tasks[0]), :method => :get, :remote=>true, :class=>'delete_post', :dataType => 'script' %>
	

 <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Burn pending tasks</h4>
        </div>
        <div class="modal-body" id="modal-content">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
