<div class="container"> 

<h1><span class="glyphicon glyphicon-search"></span> Task Information</h1>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Notes:</b>
  <%= @task.notes %>
</p>

<p>
  <b>Status:</b>
  <%= @task.status %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>

</div>
