<div class="jumbotron well well-lg">
	<div class="container">
		<h1>Register for To-do shredder</h1>
	
		 

	
		 <%= form_for(@user) do |f| %>
		   <% if @user.errors.any? %>
		    <div id="error_explanation">
		      <h2 class="error_notice">Errors prohibited this user from being saved:</h2>
		
		      <ul>
		      <% @user.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>
		  
		  
		<div class="form-group">
	      <%= f.label :firstName %>
	      <%= f.text_field :firstName %>
	    </div>
	    <div class="form-group">  
	      <%= f.label :lastName %>
	      <%= f.text_field :lastName %>
		</div>
		<div class="form-group">
	      <%= f.label :email %>
	      <%= f.text_field :email %>
		</div>
		<div class="form-group">
	      <%= f.label :password %>
	      <%= f.password_field :password %>
		</div>
		
		<div class="form-actions">
	      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
		</div>
	   	 <% end %>
		
	</div> <!-- /container -->
</div>


